# Most profitable director/actor combos

In [36]:
import pandas as pd
import matplotlib as plt
pd.set_option('display.max_columns', None)

df = pd.read_csv("movie_metadata.csv")

In [40]:
# Create profit column
df['profit'] = df['gross'] - df['budget']

(df.groupby(['director_name', 'actor_1_name'])['director_name', 'actor_1_name', 'profit']
   .mean()
   .sort_values('profit', ascending=False)[0:10])

                                            profit
director_name    actor_1_name
James Cameron    CCH Pounder          5.235058e+08
Colin Trevorrow  Bryce Dallas Howard  5.021773e+08
James Cameron    Leonardo DiCaprio    4.586723e+08
Steven Spielberg Henry Thomas         4.244495e+08
Roger Allers     Matthew Broderick    3.777838e+08
Joss Whedon      Chris Hemsworth      3.385169e+08
Gary Ross        Jennifer Lawrence    3.299993e+08
Tim Miller       Ryan Reynolds        3.050243e+08
Steven Spielberg Wayne Knight         2.937840e+08
Clint Eastwood   Bradley Cooper       2.913236e+08

# Best IMDB Score director/actor combos

In [50]:
(df.groupby(['director_name', 'actor_1_name'])['director_name', 'actor_1_name', 'imdb_score']
   .mean()
   .sort_values('imdb_score', ascending=False)[0:10])

                                        imdb_score
director_name        actor_1_name
John Blanchard       Martin Short              9.5
Frank Darabont       Morgan Freeman            9.3
John Stockwell       Matthew Ziff              9.1
Francis Ford Coppola Robert De Niro            9.0
Sidney Lumet         Jack Warden               8.9
Steven Spielberg     Liam Neeson               8.9
Peter Jackson        Orlando Bloom             8.9
Quentin Tarantino    Bruce Willis              8.9
Christopher Nolan    Leonardo DiCaprio         8.8
Irvin Kershner       Harrison Ford             8.8